html {
    background-image: url("Imagens/wallpaperimg.png");
    background-repeat: no-repeat;
    background-size: 100% 126%;
}



canvas {
    display: block;
    border: 1px solid black;
    max-height: calc(100vh-110px);
    max-width: 95vw;
    max-height: 26vw;
    margin-top: 50px;
    background-color: rgb(233, 232, 186, 0.6);

}

h1 {
    text-align: center;
    height: 30px;
    line-height: 5px;
    margin-bottom: 40px;
    margin-top: 0px;
}

.container {
    display: flex;
    position: relative;
    justify-content: center;
}

.container2 {
    display: flex;
    position: relative;
    justify-content: center;
    width: 88%;
}

.button {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.buttonStyle {
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 100%;
    border: 2px solid black;
}

#score {
    /* width: 200px; */
    /* height: 60px; */
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 5px;
    color: chartreuse;
    margin: 14px;

}

#table {
    border: 1px, solid, black;
    display: flex;
    /* justify-items: flex-start; */
    flex-wrap: wrap;

}

#high-score-name {
    color: chartreuse;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#high-score-value {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: chartreuse;
}