html {
    background-image: url("/Imagens/wallpaperimg.png");
    background-repeat: no-repeat;
    background-size: 100% 126%;
}



canvas {
    display: block;
    border: 1px solid black;
    max-height: calc(100vh-120px);
    max-width: 95vw;
    margin: auto;
    background-color: rgb(233, 232, 186);

}

h1 {
    text-align: center;
    height: 5px;
    line-height: 5px;
    margin-bottom: 120px;
}

.container {
    display: flex;
    position: relative;
    justify-content: center;
}